<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325723386617-qduno8vdvoa54qeg9n1rvsb7785qqi73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325723386617-qduno8vdvoa54qeg9n1rvsb7785qqi73</string>
	<key>API_KEY</key>
	<string>AIzaSyBIgHxxcYEF4u0pa3rxkNtKTeBf3pqjWOs</string>
	<key>GCM_SENDER_ID</key>
	<string>325723386617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fileVault</string>
	<key>PROJECT_ID</key>
	<string>file-vault-a2db5</string>
	<key>STORAGE_BUCKET</key>
	<string>file-vault-a2db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325723386617:ios:3e3ef6953cb926328be828</string>
</dict>
</plist>